:root{
    --dark-blue: #0A3871;
    --gray: #495057;
    --lightBlue: #226bc5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}
body{
    background-color: #F3F5FC;
}
main{
    display: flex;
}
/* ----HEADER---- */
header{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* ------FIN Header------- */

/* ---- SECTION INPUT ENCRIPT ----*/
.input-section{
    margin-left: 5%;
    margin-right: 2rem;
}
.input-div{
    height: 60vh;
    width: 50vw;
    /* display: none; */
}
.input-span-text{
    color: #0A3871;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
}
.input-textarea{
    height: 60vh;
    width: 50vw;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #0A3871;
    font-size: 1.8rem;
    line-height: 2rem;
    display: none;
}
.input-span{
    color: var(--gray);
    font-size: 0.8rem;
}
.img-advertencia{
    margin-right: 2px;
    vertical-align: text-top;
}
.input-botones{
    margin-top: 1rem;
}
.input-botonStyle{
    border-radius: 2rem;
    height: 3rem;
    width: 20vw;
    border-color: var(--dark-blue);
    border-width: 1px;
    margin-left: 1rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    transition-duration: 0.4s;
}
.encriptar{
    background-color: var(--dark-blue);
    color: white;
}
.encriptar:hover{
    background: var(--lightBlue);
}
.desencriptar{
    background-color: #D8DFE8;
    color: var(--dark-blue)
}
.desencriptar:hover{
    background: var(--lightBlue);
}
/* ---------FIN SECTION INPUT ENCRIPT------------ */

/* ---- Inicio Section-Output-Encript */

.output-div{
    height: 72vh;
    width: 35vw;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.output-img{
    width: 15rem;
}
.output-span-Negrita{
    color: #0A3871;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: bold;
}
.output-span{
    color: var(--gray);
}
.output-div-textarea{
    display: none;
    height: 73vh;
    width: 35vw;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.output-textarea{
    width: 100%;
    height: 90%;
    border-radius: 32px;
    background-color: #ffffff;
    border: none;
    outline: none;
    resize: none;
    color: var(--gray);
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1.5rem;
}
#button-copiar{
    display: block;
    margin: 0 auto;
}
#button-copiar:hover{
    background: var(--lightBlue);
}
